{% extends 'base_front.html.twig' %}

{% block title %}History missions {% endblock %}

{% block body %}
	<div class="md:container ">
		<h1 class="text-2xl mb-4 text-white mt-8" >History of my missions</h1>

			{% if missions is not empty %}
			<table class="container-list">
				<thead>
					<tr class="row">
						{% if is_granted('ROLE_CLIENT') %}
							<th class="col">Agent</th>
						{% elseif is_granted('ROLE_AGENT') %}
							<th class="col">Client</th>
						{% endif %}
						<th class="col">Name</th>
						<th class="col">Status</th>
						<th class="col desktop">Reward</th>
						<th class="col">Payment</th>
						<th class="col desktop">Updated at</th>
					</tr>
				</thead>
				<tbody>
						{% for mission in missions %}
								<tr class="row">
								{% if is_granted('ROLE_CLIENT') and mission.agent is not null %}
									<td class="col"><a href="{{path('front_mission_show', {'slug': mission.slug}) }}">{{ mission.agent.nickname }}</a></td>
								{% elseif is_granted('ROLE_CLIENT') and mission.agent is null %}
									<td class="col">Not assigned</td>
								{% elseif is_granted('ROLE_AGENT') %}
									<td class="col"><a href="{{path('front_mission_show', {'slug': mission.slug}) }}">{{ mission.client.nickname }}</a></td>
								{% endif %}
								<td class="col"><a href="{{path('front_mission_show', {'slug': mission.slug}) }}">{{ mission.name }}</a></td>
								<td class="col">{{ mission.status }}</td>
								<td class="col desktop">{{ mission.reward }}</td>
								{% set paid = 0 %}
								{% for payment in payments %}
									{% if payment.mission.id == mission.id and payment.status is same as 'paid'%}
										<td class="col">Paid</td>
										{% set paid = 1 %}
									{% endif %}
								{% endfor %}
								{% if paid == 0 %}
									{% if is_granted('ROLE_CLIENT') and mission.status is same as 'finished' %}
										<td class="col"><a href="{{ path('front_pay', { 'missionId': mission.id }) }}" style="color: red">Not paid</a></td>
									{% elseif is_granted('ROLE_CLIENT') and mission.status is not same as 'finished' %}
										<td class="col">Not paid</td>
									{% elseif is_granted('ROLE_AGENT') %}
										<td class="col err-color">Not paid</td>
									{% endif %}
								{% endif %}
								<td class="col desktop">{{ mission.updatedAt|date("m/d/Y") }}</td>
							</tr>
						{% endfor %}
					</tbody>
        	</table>
			{% else %}
				<tr class="col">
					<td colspan="7">No missions yet</td>
				</tr>
			{% endif %}
	</div>
{% endblock %}