{% extends 'base_front.html.twig' %}

{% block title %}Profile update!{% endblock %}

{% block body %}
<div class="md:container flex md:flex-row flex-col mt-10 gap-8 items-start">
    <div class="rounded dark:bg-slate-800 md:w-3/12 w-full flex flex-col items-center justify-center p-8">
        {% include 'fragment/profile-picture.html.twig' with {'src': app.user.image ? vich_uploader_asset(app.user, 'imageFile') : 'https://www.artmajeur.com/medias/standard/t/o/tony-rubino/artwork/15273703_007.jpg'} %}
        <div class="flex flex-col items-center">
            <h1 class="text-xl">{{ app.user.nickname }}</h1>
            {% if is_granted('ROLE_AGENT') %}
            <h3 class="text-neutral-400 text-sm">{{ app.user.getCompleteMissions }} missions completes</h3>
            {% endif %}
            <h1 class="text-lg">Skills</h1>
            {% for type in app.user.type %}
            <span class="bg-red-600 text-base p-1 pr-4 pl-4  text-center rounded mt-2 mb-2 font-bold">{{ type.name }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="profile">
        {% if hasPending is null and not is_granted('ROLE_AGENT') %}
        <div class="rounded flex-col dark:bg-slate-800 text-white relative">
            <h1 class="text-2xl mb-4 text-white" >Become an Agent</h1>
            <p class="text-white">Simply by submiting an official document of your abilites you could become the futur Agent and execute order from this platform</p>
            <a href="{{ path('profile_become_agent') }}" class="rounded mt-4 h-16 bg-violet-600 flex items-center justify-center">Apply</a>
        </div>
        {% endif %}
        {% if is_granted('ROLE_AGENT') %}
        <div class="rounded flex-col dark:bg-slate-800 text-white relative">
            <h1 class="text-2xl mb-4 text-white" >Select your skills</h1>
            <div class="flex justify-start1">
                <div class="mb-3 w-full">
                    {{ form_start(formSkill, { 'attr': { 'class': 'custom-form'} }) }}
                        {{ form_rest(formSkill) }}

                        <input type="submit" class="rounded mt-4 h-16 bg-violet-600 flex items-center justify-center text-white" value="Send">
                    {{ form_end(formSkill) }}
                </div>
              </div>
        </div>
        {% endif %}
        <div class="rounded flex-col dark:bg-slate-800 text-white relative">
            <h1 class="text-2xl mb-10">Update Profile</h1>
            {{ form_start(form, { 'attr': { 'class': 'custom-form'} }) }}
                {{ form_rest(form) }}
                <input type="submit" class="rounded mt-4 h-16 bg-violet-600 flex items-center justify-center text-white" value="Update">
            {{ form_end(form) }}
        </div>
        
    </div>
</div>

    
{% endblock %}
