{% extends 'base_front.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
    <div class="container-sign">
        {{ form_start(form, { 'attr' : { 'class': 'form-sign' } }) }}
            <h1 class="text-4xl">Sign up</h1>
            <div class="inputs">
                    <div class="input-group">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, { 'attr' : { 'class': 'input' }})}}
                    </div>
                    <div class="input-group">
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first)}}
                    </div>
                    <div class="input-group">
                        {{ form_label(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second) }}
                    </div>
            </div>
            {{ form_errors(form) }}
            <input class="main-cta" type="submit" value="Sign up">
        {{ form_end(form) }}
    </div>
{% endblock %}
