{% extends 'base_front.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="container-sign">

        {{ form_start(resetForm, { 'attr' : { 'class': 'form-sign' } }) }}
            <h1 class="text-4xl">Reset your password</h1>

            <div class="inputs">
                <div class="input-group">
                    {{ form_label(resetForm.plainPassword.first, 'New Password') }}
                    {{ form_widget(resetForm.plainPassword.first)}}
                    {{ form_errors(resetForm.plainPassword.first) }}
                </div>
                <div class="input-group">
                    {{ form_label(resetForm.plainPassword.second, 'Repeat Password') }}
                    {{ form_widget(resetForm.plainPassword.second) }}
                    {{ form_errors(resetForm.plainPassword.second) }}
                </div>
            </div>
            <button class="main-cta" type="submit">Reset password</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
