{% extends 'base_back.html.twig' %}

{% block title %}Equipment {{ equipment.name }}{% endblock %}

{% block body %}
    <div class="page-list">
        <a href="{{ path('admin_equipment_index') }}" class="back" ><img src="{{ asset('images/icones/arrow-back.svg') }}" alt="back">  back to equipment list</a>
        <div class="card-profile">  
                <h1 class="text-4xl"> Equipment </h1>
                <div> <strong>Name</strong> : {{ equipment.name }} </div>
                <div> <strong>Description</strong> : {{ equipment.description }} </div>
                <div> <strong>Stock left</strong> : {{ equipment.stock }} </div>
                <div class="container-img"> <img src="{{ vich_uploader_asset(equipment, 'imageFile') }}" alt="{{ equipment.name }}"></div>
        </div>
    </div>
{% endblock %}