{% extends 'base_front.html.twig' %}

{% block title %}Create a mission{% endblock %}

{% block body %}
    <div class="container-sign">
        {{ form_start(form, { 'attr' : { 'class': 'form-sign' } }) }}
        
            <h1 class="text-4xl">Add Mission</h1>
            <div class="inputs">
                    <div class="input-group">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name)}}
                    </div>
                    <div class="input-group">
                        {{ form_label(form.description, 'Description') }}
                        {{ form_widget(form.description)}}
                    </div>
                    <div class="input-group">
                        {{ form_label(form.reward, 'Reward $') }}
                        {{ form_widget(form.reward)}}
                    </div>
                    <div class="input-group">
                        {{ form_label(form.type, 'Type') }}
                        {{ form_widget(form.type)}}
                    </div>
                    <div class="input-group">
                        {{ form_label(form.imageFile) }}
                        {{ form_widget(form.imageFile)}}
                    </div>       
            </div>
            {{ form_errors(form) }}
            <input class="main-cta" type="submit" value="Add mission">
        {{ form_end(form) }}
    </div>
{% endblock %}
