{% extends 'base_front.html.twig' %}

{% block title %}Missions List{% endblock %}

{% block body %}
<div class="md:container flex mt-10 gap-10">
    <div class="flex flex-col w-72 bg-slate-800 rounded p-8 justify-center content-center w-3/12 h-10">
        <span class="text-center font-bold text-xl"> Mr. {{user.lastname|capitalize}} </span>
    </div>
    <div class="flex flex-col w-9/12 gap-4">
        <h1 class="text-2xl font-bold mb-4">Listing de mes missions</h1>
    
        {% for mission in missions %}
        <div class="bg-slate-800 rounded h-40 shadow-xl">
            <a href="{{ path('front_mission_show', {'slug': mission.slug}) }}" class=" flex flex-row h-full" >
                <div class="flex flex-col w-6/12 p-4 overflow-hidden">
                    <h2 class="text-2xl">{{ mission.name }}</h2> 
                    <span class="bg-red-600 p-1 w-16 text-center rounded mt-2 mb-2 font-bold">{{ mission.type.name }}</span>
                    <span class="text-sm text-neutral-300 text-ellipsis linear-background overflow-hidden">{{ mission.description }}</span>
                </div>
                <img class="min-h-full w-6/12 bg-slate-500 rounded" src="{{ vich_uploader_asset(mission, 'imageFile') }}" alt="{{ mission.name }}"> 
            </a>
        </div>
        {% else %}   
        <div> no missions found. </div>   
        {% endfor %}
    </div>
    
</div>
    
{% endblock %}
