{% extends 'base_front.html.twig' %}

{% block title %}{{ mission.name }}{% endblock %}

{% block body %}
    <h1>{{ mission.name }}</h1>

    {% if is_granted('ROLE_AGENT') and mission.status is same as('free') %}
        <a href="{{ path('front_mission_asign', {'id': mission.id, 'token': csrf_token('asign' ~ mission.id)}) }}">Accept the Mission !</a>
    {% endif %}
    {% if is_granted('ROLE_AGENT') and mission.status is same as('in_progress') %}
        <a href="{{ path('front_order_create', {'slug': mission.slug}) }}">Make an Order</a>
        <a href="{{ path('front_mission_finish', {'id': mission.id, 'token': csrf_token('finish' ~ mission.id)}) }}">End the mission</a>
    {% endif %}

    {% if is_granted('ROLE_AGENT') and mission.orders and mission.status != 'free' %}
        <h3>Oders for this missions</h3>
        {% for order in mission.orders %}
            <div>
                <h4>{{ order.equipment.name }}</h4>
                <h4>{{ order.amount }}</h4>
                <h4>{{ order.status }}</h4>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
