{% extends 'base_front.html.twig' %}

{% block title %}{{ mission.name }}{% endblock %}

{% block body %}
<div class="md:container mt-20 mb-4">
    <div class="bg-slate-800 w-10 h-10 rounded flex justify-center items-center">
        <a class="text-center font-bold text-xl" href="{{ path('front_mission_my_missions') }}"><</a>
    </div>

</div>
<div class="md:container flex  gap-6">

    <div class="h-96 w-8/12 rounded relative">
        <div class="object-cover h-96 w-full absolute" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(30, 41, 59)),url('{{ vich_uploader_asset(mission, 'imageFile') }}');"></div>
        <div class="linear-background relative min-h-96 w-full bg-slate-800 rounded pt-48 p-8 flex flex-col justify-start content-start items-start z-10">
            <div class="flex gap-4 items-center w-full">
                <div class="flex gap-4 items-start w-full">
                    <h1 class="text-4xl font-bold border-b-2 border-violet-600 mb-4">{{ mission.name }}</h1>
                    <span class="bg-red-600 text-xl p-1 pr-4 pl-4 text-center rounded mt-2 mb-2 font-bold">{{ mission.type.name }}</span>
                </div>
                <span class="p-1 text-center text-3xl font-bold">{{ mission.reward }}€</span>
            </div>
            <div class="flex gap-4 mt-4 justify-between w-full">
                <span class="text-lg text-neutral-300 w-9/12 flex-2">{{ mission.description }}</span>
                {% if is_granted('ROLE_AGENT') and mission.status is same as('free') %}
                <div class="w-3/12 flex flex-col items-stretch flex-1">
                    <div class="flex bg-violet-600 items-center justify-center rounded">
                        <a class="rounded p-4 text-xl font-bold text-center" href="{{ path('front_mission_asign', {'id': mission.id, 'token': csrf_token('asign' ~ mission.id)}) }}">Accept!</a>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="container-steps">
                {% if mission.steps|length > 0 %}
                <h1 class="text-2xl font-bold">Steps</h1>
                {% endif %}
                <div id="steps"></div>
                <div id="edit-btns"></div>
                {% if is_granted('ROLE_CLIENT') %}
                    {% if mission.status is same as('free') or mission.status is same as('in_demand') %}
                    <button class="main-cta" id="handle-steps">Edit steps</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="w-4/12  flex flex-col gap-6">
        <div class="h-96 bg-slate-800 rounded flex flex-col justify-between">
            <div id="message-wrapper" class="w-full  max-h-full h-5/6 flex flex-col gap-4 p-4 overflow-x-auto">
                {% for message in mission.messages %}
                    {% if message.fromId.id == app.user.id %}
                    <div class="self-end bg-violet-700 rounded-lg p-4 pt-2 pb-2">{{message.content}}</div>
                    {% else %}     
                    <div class="self-start p-4 pt-2 pb-2 bg-violet-500 rounded-lg">{{message.content}}</div>   
                    {% endif %} 
                {% endfor %}
            </div>
            {{ form_start(formMessage, { 'attr': { 'class': 'custom-form', 'id': 'message-form'} }) }}
                {{ form_rest(formMessage) }}
                <input type="submit" class="rounded mt-4 h-16 bg-violet-600 flex items-center justify-center text-white" value="Send">
            {{ form_end(formMessage) }}
        </div>
        <div class="h-48 bg-slate-800 rounded flex items-center justify-between pr-8 pl-8 gap-4">
            {% include 'fragment/profile-picture.html.twig' with {'src': 'https://www.artmajeur.com/medias/standard/t/o/tony-rubino/artwork/15273703_007.jpg'} %}
            
            {% if mission.agent %}
            <div class="flex flex-col items-center">
                <h1 class="text-xl">{{ mission.agent.nickname }}</h1>
                <h3 class="text-neutral-400 text-sm">{{ mission.agent.getCompleteMissions }} missions completes</h3>
                <h1 class="text-lg">Skills</h1>
                {% for type in mission.agent.type %}
                <span class="bg-red-600 text-base p-1 pr-4 pl-4  text-center rounded mt-2 mb-2 font-bold">{{ type.name }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="h-20 bg-slate-800 rounded flex gap-4 items-center p-4 w-full relative">
            <div class="flex gap-4 items-center w-10/12 relative">
                {% for order in mission.orders %}
                    <div class="w-12 h-12 rounded-3xl bg-violet-600 overflow-hidden bg-red-100"> 
                        <div class="relative">
                            <img class="w-full h-full rounded-3xl" src="{{ vich_uploader_asset(order.getEquipment(), 'imageFile') }}"/>
                            <div class="absolute top-0 left-0 w-full h-full {{ order.status == "in_demand" ? "bg-gray-700" : order.status == "refused" ? "bg-red-700" : ""}} rounded-3xl mix-blend-overlay"></div>
                          </div>
                    </div>

                {% endfor %}
                
                <div class="absolute linear-background-horizontal z-10 w-full h-full"></div>
            </div>
                        <div class="w-12 h-12 rounded-3xl bg-violet-600 flex items-center justify-center">  
                <a href="{{ path('front_order_create', {'slug': mission.slug}) }}" class="text-4xl font-bold">+</a>            
            </div>
        </div>
    </div>
</div>
<script>
    const missionId = {{ mission.id }}
    const userId = {{ app.user.id }}
    const messageWrapper = document.getElementById('message-wrapper')
    messageWrapper.scrollTop = messageWrapper.scrollHeight

    const form = document.getElementById('message-form')
    form.onsubmit = (event) => {
        event.preventDefault()

        const fd = new FormData(form)
        const payload = {}
        for (const pair of fd.entries()) {
            payload[pair[0]] = pair[1]
        } 

        const newM = document.createElement('div')
        newM.className = 'self-end bg-violet-700 rounded-lg p-4 pt-2 pb-2'
        newM.innerText = payload['message[content]']
        messageWrapper.append(newM)

        messageWrapper.scrollTop = messageWrapper.scrollHeight



        fetch(`/mission/${missionId}/message`, {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(payload)
        })
        .then(console.log)
        .catch(err => { console.error(err) })
        form.getElementsByTagName('input')[0].value = ''
    }
    const eventSource = new EventSource("{{ mercure('/messages/'~mission.id|trans)|escape('js') }}");
    eventSource.onmessage = event => {
        const payload = JSON.parse(event.data)
        if (payload.userId !== userId) {
            const newM = document.createElement('div')
            newM.className = 'self-start p-4 pt-2 pb-2 bg-violet-500 rounded-lg'
            newM.innerText = payload.message
            messageWrapper.append(newM)
            messageWrapper.scrollTop = messageWrapper.scrollHeight
        }
            
}
</script>    
{% endblock %}
