{% extends 'base_front.html.twig' %}

{% block title %}{{ mission.name }}{% endblock %}

{% block body %}
<div class="md:container mt-20 mb-4">
    <div class="bg-slate-800 w-10 h-10 rounded flex justify-center items-center">
        <a class="text-center font-bold text-xl" href="{{ path('front_mission_my_missions') }}"><</a>
    </div>

</div>
<div class="md:container flex  gap-6">

    <div class="h-96 w-8/12 rounded relative">
        <div class="object-cover h-96 w-full absolute" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(30, 41, 59)),url('{{ vich_uploader_asset(mission, 'imageFile') }}');"></div>
        <div class="linear-background relative min-h-96 w-full bg-slate-800 rounded pt-48 p-8 flex flex-col justify-start content-start items-start z-10">
            <div class="flex gap-4 items-center w-full">
                <div class="flex gap-4 items-start w-full">
                    <h1 class="text-4xl font-bold border-b-2 border-violet-600 mb-4">{{ mission.name }}</h1>
                    <span class="bg-red-600 text-xl p-1 pr-4 pl-4 text-center rounded mt-2 mb-2 font-bold">{{ mission.type.name }}</span>
                </div>
                <span class="p-1 text-center text-3xl font-bold">{{ mission.reward }}€</span>
            </div>
            <div class="flex gap-4 mt-4 justify-between w-full">
                <span class="text-lg text-neutral-300 w-9/12 flex-2">{{ mission.description }}</span>
                {% if is_granted('ROLE_AGENT') and mission.status is same as('free') %}
                <div class="w-3/12 flex flex-col items-stretch flex-1">
                    <div class="flex bg-violet-600 items-center justify-center rounded">
                        <a class="rounded p-4 text-xl font-bold text-center" href="{{ path('front_mission_asign', {'id': mission.id, 'token': csrf_token('asign' ~ mission.id)}) }}">Accept!</a>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="container-steps">
                <h1 class="text-2xl font-bold">Steps</h1>
                <div id="steps"></div>
                <div id="edit-btns"></div>
                {% if is_granted('ROLE_CLIENT') %}
                    {% if mission.status is same as('free') or mission.status is same as('in_demand') %}
                    <button class="main-cta" id="handle-steps">Edit steps</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="w-4/12  flex flex-col gap-6">
        <div class="h-96 bg-slate-800 rounded"></div>
        <div class="h-48 bg-slate-800 rounded flex items-center justify-between pr-8 pl-8 gap-4">
            {% include 'fragment/profile-picture.html.twig' with {'src': 'https://www.artmajeur.com/medias/standard/t/o/tony-rubino/artwork/15273703_007.jpg'} %}
            <div class="flex flex-col items-center">
                <h1 class="text-xl">Mr.bond</h1>
                <h3 class="text-neutral-400 text-sm">5 missions completes</h3>
                <h1 class="text-lg">Skills</h1>
                <span class="bg-red-600 text-base p-1 pr-4 pl-4  text-center rounded mt-2 mb-2 font-bold">{{ mission.type.name }}</span>
            </div>
        </div>
        <div class="h-20 bg-slate-800 rounded flex gap-4 items-center p-4 w-full relative">
            <div class="flex gap-4 items-center w-10/12 relative">
                <div class="w-12 h-12 rounded-3xl bg-violet-600">              
                </div>
                <div class="w-12 h-12 rounded-3xl bg-violet-600">              
                </div>
                <div class="w-12 h-12 rounded-3xl bg-violet-600">              
                </div>
                <div class="w-12 h-12 rounded-3xl bg-violet-600">              
                </div>
                <div class="w-12 h-12 rounded-3xl bg-violet-600">              
                </div>
                <div class="w-12 h-12 rounded-3xl bg-violet-600">              
                </div>
                <div class="absolute linear-background-horizontal z-10 w-full h-full"></div>
            </div>
                        <div class="w-12 h-12 rounded-3xl bg-violet-600 flex items-center justify-center">  
                <a href="{{ path('front_order_create', {'slug': mission.slug}) }}" class="text-4xl font-bold">+</a>            
            </div>
        </div>
    </div>
</div>
    {% if is_granted('ROLE_AGENT') and mission.status is same as('free') %}
        <a href="{{ path('front_mission_asign', {'id': mission.id, 'token': csrf_token('asign' ~ mission.id)}) }}">Accept the Mission !</a>
    {% endif %}
    {% if is_granted('ROLE_AGENT') and mission.status is same as('in_progress') %}
        <a href="{{ path('front_order_create', {'slug': mission.slug}) }}">Make an Order</a>
        <a href="{{ path('front_mission_finish', {'id': mission.id, 'token': csrf_token('finish' ~ mission.id)}) }}">End the mission</a>
    {% endif %}
    
    {% if rating.rate is not defined or rating.rate is empty %}
        {% if is_granted('ROLE_CLIENT') and mission.status is same as('finished') %}
            {{ form_start(form, {'action': path('front_rating_submit', {'slug': mission.slug}), 'method': 'POST'}) }}
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(form) }}
        {% endif %}
    {% else %}
        <h3>You rated this agent as a {{ rating.rate }}</h3>
    {% endif %}

    {% if is_granted('ROLE_AGENT') and mission.orders and mission.status != 'free' %}
        <h3>Orders for this missions</h3>
        {% for order in mission.orders %}
            <div>
                <h4>{{ order.equipment.name }}</h4>
                <h4>{{ order.amount }}</h4>
                <h4>{{ order.status }}</h4>
            </div>
        {% endfor %}
    {% endif %}
    
    <a href="{{ path('front_mission_my_missions') }}" class="btn btn-primary">Back to my missions</a>
    
{% endblock %}
