{% extends 'base_front.html.twig' %}

{% block title %}{{ mission.name }}{% endblock %}

{% block body %}
    <h1>{{ mission.name }}</h1>
    
    {% if is_granted('ROLE_AGENT') and mission.status is same as('free') %}
        <a href="{{ path('front_mission_asign', {'id': mission.id, 'token': csrf_token('asign' ~ mission.id)}) }}">Accept the Mission !</a>
    {% endif %}
    {% if is_granted('ROLE_AGENT') and mission.status is same as('in_progress') %}
        <a href="{{ path('front_order_create', {'slug': mission.slug}) }}">Make an Order</a>
        <a href="{{ path('front_mission_finish', {'id': mission.id, 'token': csrf_token('finish' ~ mission.id)}) }}">End the mission</a>
    {% endif %}
    
    {% if is_granted('ROLE_CLIENT') and mission.status is same as('finished') %}
{#        <a href="{{ path('front_mission_pay', {'id': mission.id, 'token': csrf_token('pay' ~ mission.id)}) }}">Pay the mission</a>#}
        <a>Pay the mission</a>
        
    {% endif %}
    
    {% if rating.rate is not defined or rating.rate is empty %}
        {% if is_granted('ROLE_CLIENT') and mission.status is same as('finished') %}
            {{ form_start(form, {'action': path('front_rating_submit', {'slug': mission.slug}), 'method': 'POST'}) }}
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(form) }}
        {% endif %}
    {% else %}
        <h3>You rated this agent as a {{ rating.rate }}</h3>
    {% endif %}

    {% if is_granted('ROLE_AGENT') and mission.orders and mission.status != 'free' %}
        <h3>Orders for this missions</h3>
        {% for order in mission.orders %}
            <div>
                <h4>{{ order.equipment.name }}</h4>
                <h4>{{ order.amount }}</h4>
                <h4>{{ order.status }}</h4>
            </div>
        {% endfor %}
    {% endif %}
    
    <a href="{{ path('front_mission-my-missions') }}" class="btn btn-primary">Back to my missions</a>
    
{% endblock %}
