{% extends 'base_back.html.twig' %}

{% block title %}Missions list{% endblock %}

{% block body %}
    <div class="page-list">
        <h1 class="text-4xl"> Missions List </h1>
        <form method="POST" class="container-search">
            <input class="input" type="text" value="{{ app.request.request.get('query') }}" name="query" placeholder="Search ...">
            <select name="limit">
                <option value="10" {{ limit == 10 ? 'selected': '' }}>10</option>
                <option value="20" {{ limit == 20 ? 'selected': '' }}>20</option>
                <option value="30" {{ limit == 30 ? 'selected': '' }}>30</option>
            </select>
            <button type="submit" class="main-cta">Search</button>
        </form>
        {% if pager|length == 0 %} 
            <div>no missions found</div>
        {% else %}
        <table class="container-list">
            <thead>
                <tr class="row">
                    <th class="col">Name</th>
                    <th class="col">Reward</th>
                    <th class="col">Created at</th>
                    <th class="col">Updated at</th>
                    <th class="col">Status</th>
                    <th class="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for mission in pager %}
                <tr class="row">
                    <th class="col">{{ mission.name }}</th>
                    <th class="col">{{ mission.reward }} $</th>
                    <th class="col">{{ mission.createdAt|date("d/m/Y") }}</th>
                    <th class="col">{{ mission.updatedAt|date("d/m/Y") }}</th>
                    <th class="col action">
                        {% if mission.status == 'in_demand' %}
                            <a href="{{ path('admin_mission_validate', {'id': mission.id, 'validate': 'true', 'token': csrf_token('validate' ~ mission.id) }) }}"><img src="{{asset('images/icones/validate.svg')}}" alt="validate"></a>
                            <a href="{{ path('admin_mission_validate', {'id': mission.id, 'validate': 'false', 'token': csrf_token('validate' ~ mission.id) }) }}"><img src="{{asset('images/icones/refused.svg')}}" alt="refused"></a>
                        {% else %}
                            {{ mission.status }}
                        {% endif %}
                    </th>
                    <th class="col action">
                        <a href="{{ path('admin_mission_show', {'slug': mission.slug}) }}"><img src="{{asset('images/icones/eye.svg')}}" alt="eye"></a>
                        <a href="{{ path('admin_mission_delete', {'id': mission.id, 'token': csrf_token('delete' ~ mission.id)}) }}"><img src="{{asset('images/icones/delete-bin.svg')}}" alt="bin"></a>
                    </th>
                </tr>
                
                {% else %}
                 <tr class="row pagination">
                    <th class="col"> <th class="col ">no missions found.</th></th>
                </tr>
                   
                {% endfor %}
                <tr class="row pagination">
                    <th class="col">{{ pagerfanta(pager, {'pageParameter': '[other_page]', 'prev_message' : 'back' }) }}</th>
                </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock %}
