{% extends 'base_back.html.twig' %}

{% block title %}Add admin user{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('admin_user_index') }}"> back to users list </a>
    </div>
    <div class="container-sign back">
        {{ form_start(form, { 'attr' : { 'class': 'form-sign' } }) }}
            <h1 class="text-3xl">Add admin user</h1>
            <div class="inputs">
                    <div class="input-group">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, { 'attr' : { 'class': 'input' }})}}
                    </div>
                    <div class="input-group">
                        {{ form_label(form.nickname, 'Nickname') }}
                        {{ form_widget(form.nickname)}}
                    </div>
                    <div class="input-group">
                        {{ form_label(form.firstname, 'Firstname') }}
                        {{ form_widget(form.firstname)}}
                    </div>
                    <div class="input-group">
                        {{ form_label(form.lastname, 'Lastname') }}
                        {{ form_widget(form.lastname)}}
                    </div>
            </div>
            {{ form_errors(form) }}
            <input class="main-cta" type="submit" value="Add">
        {{ form_end(form) }}
    </div>
{% endblock %}
