{% extends 'base_back.html.twig' %}

{% block title %}Users list{% endblock %}

{% block body %}
    <div class="page-list">
        <h1 class="text-4xl"> Users List </h1>
        <form method="POST" class="container-search">
            <input class="input" type="text" value="{{ app.request.request.get('query') }}" name="query" placeholder="Search ...">
            <select name="limit">
                <option value="10" {{ limit == 10 ? 'selected': '' }}>10</option>
                <option value="20" {{ limit == 20 ? 'selected': '' }}>20</option>
                <option value="30" {{ limit == 30 ? 'selected': '' }}>30</option>
            </select>
            <button type="submit" class="main-cta">Search</button>
        </form>

        {% if pager|length == 0 %} 
            <div>no users found</div>
        {% else %}
            <table class="container-list">
                <thead>
                    <tr class="row">
                        <th class="col">Email</th>
                        <th class="col">Nickname</th>
                        <th class="col">Firstname</th>
                        <th class="col">Lastname</th>
                        <th class="col">Account checked</th>
                        <th class="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in pager %}
                    <tr class="row">
                        <th class="col">{{ user.email }}</th>
                        <th class="col">{{ user.nickname }}</th>
                        <th class="col">{{ user.firstname }}</th>
                        <th class="col">{{ user.lastname }}</th>
                        <th class="col">{{ user.status == null ? 'no' : 'yes' }}</th>
                        <th class="col action">
                            <a href="{{ path('admin_user_show', {'id': user.id}) }}"><img src="{{asset('images/icones/eye.svg')}}" alt="eye"></a>
                            <a href="{{ path('admin_user_update', {'id': user.id}) }}"><img src="{{asset('images/icones/edit.svg')}}" alt="edit"></a>
                            <a href="{{ path('admin_user_delete', {'id': user.id, 'token': csrf_token('delete' ~ user.id)}) }}"><img src="{{asset('images/icones/delete-bin.svg')}}" alt="bin"></a>
                        </th>
                    </tr>
                    {% endfor %}
                    <tr class="row pagination">
                        <th class="col">{{ pagerfanta(pager, {'pageParameter': '[other_page]', 'prev_message' : 'back' }) }}</th>
                    </tr>
                </tbody>
            </table>
        {% endif %}
        <a href="{{ path('admin_user_create') }}" class="main-cta">Add admin</a>
    </div>
{% endblock %}
