<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="navbar-front">
                <figure>
                    <img src="{{ asset('images/logos/logo-black.svg') }}" alt="logo black">
                </figure>
                <nav class="links">
                    <ul><a href="#"> Homepage</a></ul>
                    <ul><a href="#"> More information</a></ul>
                    <ul><a href="#"> Contact</a></ul>
                    <ul><a href="#"> others page</a></ul>
                    {% if is_granted('ROLE_ADMIN') %} <ul><a href="{{ path('admin_default_index') }}">Panel d'admin</a></ul> {% endif %}
                </nav>
                <div class="sign">
                    {% if is_granted('ROLE_USER') %} 
                    <a href="{{ path('app_logout') }}">Logout</a>
                    {% else  %}
                    <a href="{{ path('register') }}"><img src="{{ asset('images/icones/signup.svg') }}" alt="signup"> Sign up</a>
                    <a href="{{ path('app_login') }}"><img src="{{ asset('images/icones/signin.svg') }}" alt="signin"> Sign in</a>
                    {% endif %}
                   
                </div>
                <div class="burger-menu" id="burger-menu">
                    <img src="{{ asset('images/icones/burger-menu.svg') }}" alt="burger menu">
                </div>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
